Basic Arithmetic Opeations

In [3]:

a = 10
b = 20
print ("Addition",a + b)
print ("Product",a * b)
print ("Divisio",a / b)
print ("Difference",a - b)
print ("Power",a ** b)
print ("Modulus", a % b)
print ("rounded off division", a // b)

Addition 30
Product 200
Divisio 0.5
Difference -10
Power 100000000000000000000
Modulus 10
rounded off division 0

String Operations

In [20]:
name = "Muhammad Usman Ghani"
print ("Length : ",len(name))
print ("Lower Case : ",name.lower())
print ("Upper Case : ",name.upper())
print ("Splitting Name : ",name.split())
print ("Swapping Case ",name.swapcase())

Length :  20
Lower Case :  muhammad usman ghani
Upper Case :  MUHAMMAD USMAN GHANI
Splitting Name :  ['Muhammad', 'Usman', 'Ghani']
Swapping Case  mUHAMMAD uSMAN gHANI

ODD or EVEN

In [1]:
number = int(input("Enter a Number :"))
if (number % 2 == 0):
    print("Even Number")
else :
    print ("Odd Number")

GRADES

In [2]:
A = int(input("Enter Your Marks : "))
if A >= 90 and A <= 100:
    print ("Grade A")
elif A >=80 and A<90:
    print ("Grade B")
elif A >=70 and A<80:
    print ("Grade C")
elif A >= 60 and A<70:
    print ("Grade D")
elif A >= 0 and A < 60:
    print ("Grade F")
else :
    print ("Not A Valid INPUT")

LEAP YEAR

In [4]:
year = int(input("Enter Year : "))
if (year % 4 == 0):
    print ("it is leap year ")
else:
    print ("It is not a leap year")

DOUBLE FOR LOOP

In [10]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Sum of elements in for LOOP

In [24]:
sum = 0
for i in range(1,11):
    sum = sum + i
print (sum)

55

In [25]:
sum = 0
for i in range(1,11):
    sum += i
print (sum)

55

FACTORIAL

In [1]:
i = int(input("Enter a number : "))
factorial = 1
while i > 1:
    factorial = factorial * i
    i = i - 1
print (factorial)

PALINDROME

 - check if the string is same in forward direction as well as backward

In [2]:
def palindrome(str):
    if str[::1] == str[::-1]:
        return "True"
    elif str[::1] != str[::-1]:
        return "False"
    
A = input("Enter a String : ")
print (palindrome(A))

Some lists methods

In [15]:
list = [4,2,6,1,7,8,23,56]
print (list)
list.append(55)
print (list)
list.remove(8)
print (list)
sorted(list)
print(max(list))
print(min(list))

[4, 2, 6, 1, 7, 8, 23, 56]
[4, 2, 6, 1, 7, 8, 23, 56, 55]
[4, 2, 6, 1, 7, 23, 56, 55]
56
1

Tuple

In [30]:
tuple = {1,2,3,4,5}
print (tuple) 
for i in tuple:
    print (i)
    
print ("Lenth is : ",len(tuple))
 
if 3 in tuple:
    print ("Three is present")
else :
    print ("Three is not present")

{1, 2, 3, 4, 5}
1
2
3
4
5
Lenth is :  5
Three is present

To print UNIQUE elements in LIST

In [1]:
def unique_elements():
    A = []
    n = int(input("Enter number of elements of list : "))
    for i in range (0,n):
        i = int(input())
        A.append(i)
    print ("The original list :",A)
    print ("The list with Unique elements : ",set(A))    
      
unique_elements()

ADD two lists and print unique elements

In [5]:
def add_twolists():
    A = []
    n = int(input("Enter the elements of list 1 :"))
    for i in range (0,n):
        i = int(input())
        A.append(i)
    print ("The original first list : ", A)
    
    B = []
    m = int(input("Enter the elements of list 2 : "))
    for i in range (0,m):
        i = int(input())
        B.append(i)
    print ("The original Second list "  ,B)
    print ("Added set but only unique elements are printed : ",set(A+B))
    
add_twolists()

Grade Average Calculation

- max , min and average

In [1]:
n = int(input("Enter the Number of students : "))
Marks = []
for i in range(0,n):
    i = int(input())
    Marks.append(i)
print("Following are the marks :\n " ,Marks)
print ("Average Marks are : ", sum(Marks)/len(Marks))
print ("Maximum Marks : ", max(Marks))
print ("Minimum Marks : ",min(Marks))