In [1]:
A = open ('Oracle.txt', 'r')
B = A.readline()
print (B)

SQL> select min(sal) from emp;

In [5]:
with open ("Marks", "w") as M :
    M.write('''98,21,43\n\n 45,66,87\n\n 76,87,88''')

In [10]:
M = open ('File Handling.txt ','r')
for line in M:
    print (M.readline())

This is for practice of File handling

 And congratulation we know how to append know

 And congratulation we know how to append now**

In [2]:
Students = ["Muhmmad","Usman","Ghani","Danish"]
with open('Marks.txt', 'r') as M:
    for i , line in enumerate(M):
        print(f"Marks of student , {Students[i]} :- \nMaths = {line.split(',')[0]}  \nBiology = {line.split(',')[1]}   \nEnglish = {line.split(',')[2]} ")

Marks of student , Muhmmad :-
Maths = 98
Biology = 97
English = 94

Marks of student , Usman :-
Maths = 87
Biology = 89
English = 91

Marks of student , Ghani :-
Maths = 88
Biology = 99
English = 100

Marks of student , Danish :-
Maths = 77
Biology = 88
English = 99

In [10]:
with open('Marks.txt', 'r') as M:
    M.seek(6)
    print (M.read(10))
    
    M.seek(10)
    print (M.read(20))

94
87,89,9
87,89,91
88,99,100
7
TEll : 32

In [14]:
with open ('Truncate.txt', 'w') as A:
    A.write("Here is the truncate Function")
    A.truncate(10)
    
with open ('Truncate.txt', 'r') as B:    
    print (B.read())

Here is th